--
-- PostgreSQL database dump
--

\restrict mouZrW8i9mhw1L4oYT22E7CfQ23OaNrQeol6cv8GGziPQ9IprL2716MrcfzJEEd

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: devops_user
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    status character varying(50) NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.tasks OWNER TO devops_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: devops_user
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO devops_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devops_user
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: devops_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(100) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO devops_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: devops_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO devops_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devops_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: devops_user
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: devops_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: devops_user
--

COPY public.tasks (id, title, description, status, user_id, created_at) FROM stdin;
1	Build DevOps Pipeline	Create CI/CD pipeline using GitHub Actions	pending	1	2026-08-10 07:00:06.799819
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: devops_user
--

COPY public.users (id, email, username, hashed_password, created_at) FROM stdin;
1	akhil@example.com	akhil	TestPassword123	2026-08-10 06:59:23.540841
2	akhil.dev@example.com	akhildev	$argon2id$v=19$m=65536,t=3,p=4$N3vEbrSiWBcENvGL1L99yg$EyVP8XD6EuR54ixM4cvftqTTdAxjCq6xktJg3JH18N8	2026-08-10 07:15:35.687688
3	devuser@example.com	devuser	$argon2id$v=19$m=65536,t=3,p=4$iHFGBVC5d5duk/gFOjf7Uw$UBSbIqY/Qm2E7ATe8tHgWbtlSS8RJhziUcLn+wl2ems	2026-08-10 10:55:48.938867
\.


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devops_user
--

SELECT pg_catalog.setval('public.tasks_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devops_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: devops_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: devops_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: devops_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ix_tasks_id; Type: INDEX; Schema: public; Owner: devops_user
--

CREATE INDEX ix_tasks_id ON public.tasks USING btree (id);


--
-- Name: ix_tasks_user_id; Type: INDEX; Schema: public; Owner: devops_user
--

CREATE INDEX ix_tasks_user_id ON public.tasks USING btree (user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: devops_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: devops_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: tasks tasks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devops_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict mouZrW8i9mhw1L4oYT22E7CfQ23OaNrQeol6cv8GGziPQ9IprL2716MrcfzJEEd

